<link rel="stylesheet" href="/css/media-details.css">
<%- include('partials/deleteMedia.ejs') %>
    <%- include('partials/createRentalItemModal.ejs') %>

        <div class="container">
            <div class="py-2 text-center">
                <h1 id="title">Media Details</h1>
                <p class="lead font-italic font-weight-bold">
                    <%=viewModel.mediaDetails.name%>
                </p>
            </div>
        </div>
        <div class="container summary-container">
            <div class="row py-3">
                <div class="col-md-4 order-md-2">
                    <div class="row justify-content-center">
                        <div class="mb-3 dropdown text-center">
                            <% if (viewModel.isEmployee) { %>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa-solid fa-wrench"></i> Actions
                            </button>
                            <% } %>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/media/createOrEdit/<%=viewModel.mediaDetails.id%>"
                                        class="dropdown-item text-info"><i class="fa-solid fa-pen-to-square"></i> Edit
                                        Media</a>
                                </li>
                                <li>
                                    <button class="dropdown-item text-danger delete-media-btn" id="delete-media-btn"
                                        data-bs-toggle="modal" data-bs-target="#delete-confirmation-modal"
                                        data-id="<%=viewModel.mediaDetails.id%>"><i class="fa-solid fa-trash"></i>
                                        Delete Media
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center align-items-center mb-1">
                        <div class="col">
                            Total Available:
                            <span id="totalAvailableCount" class="detail-text <% if(viewModel.mediaDetails.totalAvailable == 0) { %> text-danger <% } else { %> text-success<%}%>">
                                <%=viewModel.mediaDetails.totalAvailable%>
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center align-items-center">
                        <div class="col">
                            Total Copies:
                            <span id="totalCount" class="detail-text <% if(viewModel.mediaDetails.total == 0) { %> text-danger <% }%>">
                                <%=viewModel.mediaDetails.total%>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Name:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.name%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Media Type:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.type%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Author:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.author%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Publisher:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.publisher%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Is safe for child use?
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.isChildSafe ? "Yes" :"No"%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            ISBN or SN:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.uniqueIdentifier%>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3">
                            Page Count / Media Size:
                        </div>
                        <div class="col-md-8 detail-text mb-2">
                            <%=viewModel.mediaDetails.pageCountOrSize%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row categories-row py-2">
                <div class="col-md-2">
                    categories:
                </div>
                <div class="col">
                    <%=viewModel.mediaDetails.categories.map(x=> x.name).join(', ')%>
                </div>
            </div>
            <div class="container description-container">
                <div class="row">
                    Description:
                </div>
                <div class="row">
                    <%=viewModel.mediaDetails.description%>
                </div>
            </div>
            <% if (viewModel.isEmployee) { %>
            <div class="container copies-container py-4">
                <div class="row mb-2">
                    <div class="col"></div>
                    <div class="col text-center">
                        <h4>Copies of <%=viewModel.mediaDetails.name%>
                        </h4>
                    </div>
                    <div class="col text-center"><button class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#create-rental-item-modal"><i class="fa-solid fa-plus"></i>
                            Add Copies</button></div>
                </div>
                <table class="table table-bordered" id="copy-table">
                    <thead>
                        <tr>
                            <th scope="col">rental item ID</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Is available?</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (viewModel?.rentalItemList==null || viewModel?.rentalItemList?.length==0 ) { %>
                            <tr>
                                <td colspan="4" class="text-center">No media copies</td>
                            </tr>
                            <%} else { %>
                                <% for (let rentalItem of viewModel.rentalItemList) { %>
                                    <tr>
                                        <th scope="row">
                                            <%=rentalItem.rentalItemGuid%>
                                        </th>
                                        <td>
                                            <%=rentalItem.itemCondition%>
                                        </td>
                                        <td class="<%= rentalItem.isAvailable ? 'text-success' : 'text-danger' %>">
                                            <%= rentalItem.isAvailable ? "Yes" : "No" %>
                                        </td>
                                        <td>
                                            <a href="/item/<%=rentalItem.rentalItemGuid%>"
                                                class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i>
                                                View Rental Item</a>
                                        </td>
                                    </tr>
                                    <% } } %>
                    </tbody>
                </table>
            </div>
            <% } %>
        </div>
        <script src="/js/media-details.js"></script>