<div class="modal fade" id="category-select-modal" tabindex="-1" role="dialog"
    aria-labelledby="category-select-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="category-select-modal-label">Select Media Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="category-select-form">
                        <div class="input-group mb-2">
                            <input id="input-category-filter" class="form-control filter-input-rounded border-primary" type="text"
                                placeholder="Search Field">
                                <button id="clear-search-btn btn-circle" onclick="clearFilter()" type="button"
                                    class="btn btn-outline-secondary"><i class="fa-solid fa-x"></i></button>
                        </div>
                        <h6 class="">Categories:</h6>
                        <div class="categories-outline">
                            <div class="form-group">
                                <% for (let category of viewModel.categories ) { %>
                                    <div class="row mb-2 border-bottom justify-content-center category-row" id="category-<%= category.name %>-row">
                                        <label class="form-check-label category-check-label col-10 mb-1"
                                            for="category-<%= category.id %>-checkbox">
                                            <%= category.name %>:
                                        </label>
                                        <div class="col-2 mb-1">
                                            <input class="form-check-input categories-check-input"
                                                id="category-<%= category.id %>-checkbox" name="category-<%= category.id %>-checkbox" type="checkbox" <% if
                                                (!viewModel.isNewMedia && viewModel.mediaToUpdate.categories.map(x=>
                                            x.id).includes(category.id)) { %>
                                            checked
                                            <% } %> >
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary btn-block" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>