<link rel="stylesheet" href="/css/checkin.css">
<%- include('partials/itemSelectModal.ejs') %>

    <div class="container">
        <h2 class="pb-2 border-bottom"><i class="fa-solid fa-arrow-turn-down"></i> Check In</h2>
    </div>
    <div class="container py-4 border-bottom border-primary">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6 col-md-4 col-lg-3 text-center">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#item-select-modal"><i
                        class="fa-solid fa-magnifying-glass"></i> Select Check In Item</button>
            </div>
        </div>
    </div>

    <div id="itemDetailsContainer" class="container py-4 border-bottom <% if(!viewModel.rentalItem) { %> hidden<% } %>">
        <h4>Item Details</h4>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Item ID:
            </div>
            <div class="col-md-8 detail-text mb-2">
                <a id="rentalItemIdLink" href="<%=" /item/"+viewModel.rentalItem?.rentalItemGuid%>">
                    <%=viewModel?.rentalItem?.rentalItemGuid%>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Item Name:
            </div>
            <div class="col-md-8 detail-text mb-2">
                <a id="rentalItemNameLink" href="<%=" /media/"+viewModel?.rentalItem?.id%>">
                    <%=viewModel?.rentalItem?.name%>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Item Type:
            </div>
            <div id="rentalItemType" class="col-md-8 detail-text mb-2">
                <%=viewModel?.rentalItem?.itemType%>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Is on hold?
            </div>
            <div id="isOnHold" class="col-md-8 detail-text mb-2">
                <%=viewModel.rentalItem?.isOnHold? "Yes" : "No" %>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Condition at checkout:
            </div>
            <div id="condition" class="col-md-8 detail-text mb-2">
                <%=viewModel?.rentalItem?.itemCondition%>
            </div>
        </div>
    </div>
    </div>
    <div id="rentalAgreementContainer"
        class="container py-4 border-bottom border-primary <% if(!viewModel.rentalItem) { %> hidden<% } %>">
        <h4>Rental Agreement Details</h4>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Borrowing Member:
            </div>
            <div class="col-md-8 detail-text mb-2">
                <a id="borrowingMemberLink" href="<%=" /member/"+viewModel?.rentalAgreement?.borrowerId%>">
                    <%=viewModel?.rentalAgreement?.borrowerName%>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Checkout Date:
            </div>
            <div id="checkoutDate" class="col-md-8 detail-text mb-2">
                <%=viewModel?.rentalAgreement?.checkoutDate?.toLocaleDateString('en-US')%>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
                Checkin Due Date:
            </div>
            <div id="checkinDueDate" class="col-md-8 detail-text mb-2">
                <%=viewModel?.rentalAgreement?.checkinDueDate?.toLocaleDateString('en-US')%>
            </div>
        </div>
    </div>
    <div id="checkinFormContainer" class="container py-4 <% if(!viewModel.rentalItem ||
    !viewModel.rentalAgreement){ %>hidden<% }%>">
        <form id="checkinForm" action="/rentalAgreement/checkin" method="POST"  >
                <input type="hidden" name="rentalAgreementIdInput" id="rentalAgreementIdInput" <%if (viewModel.rentalAgreement) {%> value="<%= viewModel.rentalAgreement.transactionId %>"<% } %> />
                <div class="row">
                    <div class="col-md-3">
                        <label for="returnedCondition">Return Condition:</label>
                        <select class="form-control" name="returnedCondition" id="returnedConditionSelect">
                            <option <% if(viewModel?.rentalItem?.itemCondition == "New") { %> selected <% } %> value="New">New</option>
                            <option <% if(viewModel?.rentalItem?.itemCondition == "Good") { %> selected <% } %> value="Good">Good</option>
                            <option <% if(viewModel?.rentalItem?.itemCondition == "Fair") { %> selected <% } %> value="Fair">Fair</option>
                            <option <% if(viewModel?.rentalItem?.itemCondition == "Worn") { %> selected <% } %> value="Worn">Worn</option>
                            <option <% if(viewModel?.rentalItem?.itemCondition == "Poor") {%> selected <% } %> value="Poor">Poor</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="returnDate">Return date:</label>
                        <input id="returnDate" name="returnDate" class="form-control" type="date">
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                        <button type="submit" class="btn btn-primary">Submit Checkin</button>    
                    </div>

                </div>
                
        </form>
    </div>


    <script src="/js/html5-qrcode.min.js"></script>
    <script src="/js/checkin.js"></script>